@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
::-moz-selection {
  background: lightgreen;
}

::selection {
  background: lightgreen;
}

body {
  background: #111;
  font-family: "Droid Sans", sans-serif;
  font-size: 7pt;
  color: #d8c99e;
  font-weight: 700;
  text-transform: uppercase;
  margin: auto;
}

.pipfront {
  width: 450px;
  height: 400px;
  background: #8b7867;
  background: linear-gradient(#8b7867, #726350);
  left: 45px;
  position: absolute;
  top: -60px;
  padding-top: 30px;
  border-radius: 100px;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 30px;
  position: relative;
  z-index: 0;
  border-top: 4px solid #c3bfb4;
  box-shadow: 0px 0px 5px #3f2d21;
}

.pipfront:after {
  content: "";
  display: block;
  width: 310px;
  height: 55px;
  background: linear-gradient(#776754, #726350);
  margin-top: 0px;
  margin-left: 87px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: 0px 2px 4px #4e4037;
}

.top {
  width: 120px;
  height: 50px;
  background: #111;
  position: absolute;
  top: -15px;
  left: 165px;
  z-index: -4;
}

.top:after, .top:before {
  content: "";
  display: block;
  width: 45px;
  height: 30px;
  background: #c3bfb4;
  margin-top: 5px;
  z-index: -1;
  position: relative;
}

.top:after {
  border-top-right-radius: 30px;
  border-top-left-radius: 10px;
  left: -1px;
}

.top:before {
  position: absolute;
  right: -1px;
  border-top-right-radius: 10px;
  border-top-left-radius: 30px;
}

.top-panel {
  width: 130px;
  height: 40px;
  background: #5a5f5b;
  position: absolute;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  left: -5px;
  top: 15px;
}

.top-panel:before {
  content: "";
  display: block;
  background: #272b2a;
  width: 130px;
  height: 30px;
  margin: 15px auto 0 auto;
  position: relative;
  z-index: 99;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.top-panel:after {
  content: "Pip-Boy";
  color: #151515;
  font-family: "Courier New", sans-serif;
  letter-spacing: 2px;
  font-size: 12pt;
  text-shadow: 0px 0px 0.5px #444;
  position: absolute;
  top: 23px;
  left: 26px;
  z-index: 99;
}

.top-button {
  width: 55px;
  height: 13px;
  background: #000;
  position: absolute;
  right: 5px;
  top: 3px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top: 1px solid #444;
  transform: rotate(27deg);
}

.top-button:after {
  content: "";
  display: block;
  width: 30px;
  height: 7px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.8));
  margin-left: 13px;
  margin-top: -7px;
  border-radius: 2px;
  border: 1px solid #333;
}

.stat:before {
  content: "Stat";
}

.inv:before {
  content: "Inv";
}

.data:before {
  content: "Data";
}

.map:before {
  content: "Map";
}

.radio:before {
  content: "Radio";
}

.status:before {
  content: "Status";
}

.special:before {
  content: "Special";
}

.screen-border {
  background: #272b2a;
  width: 370px;
  height: 290px;
  margin: auto;
  border-radius: 50px;
  padding-top: 5%;
  border-top: 10px solid #5a5f5b;
  border-bottom: 5px solid #3a3e41;
  position: relative;
  z-index: -5;
}

.screen {
  width: 300px;
  height: 235px;
  position: absolute;
  margin-left: 26px;
  border-radius: 20px;
  background: #000;
  border: 5px solid #333;
  padding: 5px 5px 5px 0;
  overflow: hidden;
}

.screen-reflection {
  width: 285px;
  height: 185px;
  background: linear-gradient(150deg, #fff, rgba(0, 0, 0, 0));
  position: relative;
  z-index: 99;
  opacity: 0.07;
  margin: 9px 10px 10px 10px;
  border-radius: 10px;
}

.scan {
  width: 305px;
  height: 80px;
  background: linear-gradient(rgba(0, 0, 0, 0), #7ff12a);
  position: absolute;
  -webkit-animation: scan;
          animation: scan;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  top: -85px;
  z-index: 99;
  opacity: 0.25;
}

nav {
  height: 25px;
  width: 90%;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #8df776;
  padding-left: 10%;
  border-top-right-radius: 20px;
  z-index: 95;
  border-top-left-radius: 20px;
}

nav span {
  color: #8df776;
  line-height: 31px;
  font-size: 9pt;
  letter-spacing: 0.3px;
  margin-left: 14px;
  font-weight: 300;
}

nav .active {
  background: #000;
  border-right: 1px solid #8df776;
  border-left: 1px solid #8df776;
  border-bottom: 1px solid #000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 3px 6px 3px 6px;
}

nav p {
  margin: -10px 0 0 0;
  height: 25px;
}

nav .off {
  color: #172f18;
  position: relative;
  left: -5px;
}

.vaultboy {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/vaultboy2.gif");
  background-size: 77px;
  background-position: 2px;
  width: 80px;
  height: 100px;
  position: absolute;
  left: 110px;
  top: 56px;
}

.supplies {
  height: 16px;
  position: absolute;
  bottom: 22px;
  left: 13px;
  background: #000;
}

.supplies span {
  margin-right: 5px;
  background: #78e461;
  padding: 2px 3px 2px 3px;
  color: #000;
  font-weight: 700;
}

.hud-bar {
  height: 12px;
  position: absolute;
  width: 290px;
  bottom: 9px;
  left: 15px;
  background: #000;
  color: #8df776;
  z-index: 96;
}

.info-bar {
  width: 170px;
  height: 20px;
  bottom: 50px;
  left: 86px;
  position: absolute;
  z-index: 97;
}

.info-bar span {
  background: rgba(0, 255, 0, 0);
  padding: 3px;
  height: 15px;
  display: inline-block;
  vertical-align: top;
  font-size: 7px;
  color: #8df776;
  text-align: center;
  position: relative;
}

.info-bar span i {
  position: absolute;
  top: 0;
  left: 5px;
}

.info-bar span p {
  margin-top: 8px;
}

.hp {
  display: inline-block;
}

.hp:before {
  content: "HP 365/365";
}

.exp {
  display: inline-block;
  margin-left: 20px;
}

.exp:before {
  content: "Level 48";
}

.exp:after {
  content: "";
  display: inline-block;
  width: 99px;
  height: 4px;
  border: 1px solid lightgreen;
  margin-left: 2px;
}

.ap {
  display: inline-block;
  margin-left: 20px;
}

.ap:before {
  content: "AP 110/110";
}

.weapon {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/pipboy-gun2.png") no-repeat;
  width: 23px;
  height: auto;
}

.aim {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/pipboy-aim2.png");
}

.shield {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/pipboy-shield2.png");
}

.voltage {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/pipboy-voltage2.png");
}

.nuclear {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/pipboy-nuclear2.png");
}

.helmet {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/pipboy-helmet2.png");
}

.aim, .shield, .voltage, .nuclear {
  width: 10px;
  background-size: 10px 10px;
  height: auto;
  background-repeat: no-repeat;
  background-position: 3px 0px;
}

.weapon, .helmet {
  background-size: 27px;
  height: auto;
  width: 23px;
  background-repeat: no-repeat;
}

@-webkit-keyframes flicker {
  0% {
    box-shadow: 0px 0px 5px 0px red;
  }
  5% {
    box-shadow: 0px 0px 30px 2px red;
  }
  60% {
    box-shadow: 0px 0px 30px 2px red;
  }
  80% {
    box-shadow: 0px 0px 10px 0px orange;
  }
  90% {
    box-shadow: 0px 0px 30px 2px red;
  }
  100% {
    box-shadow: 0px 0px 0px 0px red;
  }
}

@keyframes flicker {
  0% {
    box-shadow: 0px 0px 5px 0px red;
  }
  5% {
    box-shadow: 0px 0px 30px 2px red;
  }
  60% {
    box-shadow: 0px 0px 30px 2px red;
  }
  80% {
    box-shadow: 0px 0px 10px 0px orange;
  }
  90% {
    box-shadow: 0px 0px 30px 2px red;
  }
  100% {
    box-shadow: 0px 0px 0px 0px red;
  }
}
@-webkit-keyframes meter {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(20deg);
  }
}
@keyframes meter {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(20deg);
  }
}
@-webkit-keyframes scan {
  0% {
    top: -80px;
  }
  70% {
    top: 300px;
  }
  100% {
    top: 300px;
  }
}
@keyframes scan {
  0% {
    top: -80px;
  }
  70% {
    top: 300px;
  }
  100% {
    top: 300px;
  }
}
