.vaultboy {
    background: url('/images/vault-boy-walking.gif') no-repeat;
    background-size: contain;
    width: 250px;
    height: 40vh;
}

.vault-boy-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40vh;
}

.pip-boy-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    z-index: 101;
    background: transparent;
}
.info-bar {
    left: 86px;
    z-index: 97;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-bar span {
    padding: 3px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #8df776;
    text-align: center;
    position: relative;
    width: 4rem;
    background-color: rgba(0, 255, 0, 0.2);
    margin-left: 5px;
}

.info-bar span p {
    margin-top: 1.5rem;
    margin-left: -8px;
}

.weapon {
    background: url('/images/gun.png') no-repeat;
    width: 23px;
    height: auto;
}

.aim {
    background: url('/images/aim.png')
}

.shield {
    background: url('/images/shield.png')
}

.voltage {
    background: url('/images/voltage.png');
    padding-left: 15px;
}

.nuclear {
    background: url('/images/nuclear.png')
}

.helmet {
    background: url('/images/helmet.png')
}

.aim, .shield, .voltage, .nuclear {
    width: 2vw;
    background-size: 20px 20px;
    height: auto;
    background-repeat: no-repeat;
    background-position: 18px 0px;
}

.aim, .shield {
    width: 2rem!important;
    background-position: 4px 0px!important;
    margin-left: 0!important;
}

.weapon, .helmet {
    background-size: 60px;
    width: 50px;
    height: 70px;
    background-repeat: no-repeat;
}

.voltage, .nuclear {
    background-position: 1.5rem 0!important;
    p {
        margin-left: -2px!important;
    }
}

.supplies {
    height: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 98vw;
    font-size: 2vw;
    background: transparent;
}

.supplies span {
    height: 100%;
    margin: 0 5px;
    background: #78e461;
    padding: 0 10px;
    color: #000;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hud-holder {
    position: absolute;
    bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 98vw;
}

.hud-bar {
    width: 98vw;
    color: #8df776;
    z-index: 96;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 0 5px;
    font-size: 3vh;
    background: transparent;
}

.xp-bar {
    content: "";
    display: inline-block;
    width: 50vw;
    height: 3vh;
    border: 1px solid lightgreen;
    margin-left: 2px;
    background: linear-gradient(90deg, lightgreen 50%, #000 50%);
}

.special-subpage-holder, .perks-subpage-holder {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.special-left, .perks-left {
    margin-top: 10px;
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.special-left-row, .perks-left-row {
    width: 45vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 10px;
    color: #8df776;
    font-size: 2.5vw;
    margin: 5px 0 0 20px;
    z-index: 102;

    &__active {
        background: #8df776;
        color: #000000;
    }
}

.special-right, .special-gif-card, .perks-right, .perks-gif-card {
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.special-right-gif, .perks-right-gif {
    width: 270px;
    height: 200px;
    font-weight: bold;
}

.special-right-text, .perks-right-text {
    color: #8df776;
    font-size: 2.5vw;
}

@media (max-width: 1450px) {
    nav {
        top: 1vh;

        .active {
            padding: 12px 6px 3px 6px;
        }
    }

    .info-bar span p {
        margin-top: 1.5rem;
        margin-left: -8px;
    }

    .aim, .shield, .voltage, .nuclear {
        background-position: 20px 0px;
    }

    .supplies {
        span {
            padding: 0px 48px
        }
    }
}

@media (max-width: 1100px) {
    .aim, .shield, .voltage, .nuclear {
        background-position: 18px 0px;
    }

    .supplies {
        height: 4vh;
    }

    .special-subpage-holder, .perks-subpage-holder {
        height: 75vh;
    }

    .special-left-row, .perks-left-row {
        font-size: 4.5vw;
    }
}

@media (max-width: 991px) {
    .info-bar span p {
        margin-top: 1.5rem;
        margin-left: 0px;
    }

    .aim, .shield, .voltage, .nuclear {
        background-position: 25px 0px;
    }

    .vaultboy {
        height: 35vh;
        width: 15vw;
    }

    .special-right-gif, .perks-right-gif {
        img {
            width: 200px;
        }
    }
}

@media (max-width: 916px) {
    .info-bar span p {
        margin-top: 1.5rem;
        margin-left: 0px;
    }

    .aim, .shield, .voltage, .nuclear {
        background-position: 25px 0px;
    }

    .vaultboy {
        height: 35vh;
        width: 15vw;
    }

    .supplies {
        span {
            height: 8vh;
            font-size: 3vw;
            padding: 0 24px;
        }
    }

    .hud-bar {
        font-size: 4vh;
    }

    .special-subpage-holder {
        height: 50vh;
    }

    .special-left-row, .perks-left-row {
        font-size: 2.5vw;
    }

    .special-right-text, .perks-right-text {
        color: #8df776;
        font-size: 1.5vw;
    }
}

@media (max-width: 850px) {
    .vaultboy {
        height: 35vh;
        width: 15vw;
    }

    .aim, .shield, .voltage, .nuclear {
        background-position: 22px 0px!important;
    }

    .aim, .shield {
        width: 2rem!important;
        background-position: 4px 0px!important;
    }

    .supplies {
        span {
            height: 8vh;
            font-size: 3vw;
            padding: 0 24px;
        }
    }
}
